node_modules

error.log
index.log
demo

dist

tsconfig.tsbuildinfo
debug.log
coverage

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/releases
!.yarn/plugins
